name: Playit.gg Agent
version: 1.1.0
slug: playitgg
description: Addon to run the Playit.gg tunnel service in Home Assistant
url: https://github.com/uplandjacob/upland-ha-addons/tree/main/playit-gg
host_network: true
hassio_api: true
init: false
image: ghcr.io/uplandjacob/upland-ha-addons-playit-gg-{arch}
arch:
  - amd64
  - aarch64
map:
  - type: addon_config
    read_only: false
    path: /etc/playit/
