name: Twingate
version: 0.0.1
slug: twingate
description: Twingate VPN from Home Assistant.
url: https://github.com/uplandjacob/upland-ha-addons/tree/main/twingate
stage: experimental
arch:
  - armv7
  - aarch64
  - amd64
boot: manual
init: false
image: ghcr.io/uplandjacob/upland-ha-addons-twingate-{arch}
hassio_api: true
map:
  - config
options:
  network: ''
  access_token: ''
  refresh_token: ''

schema:
  network: match([a-z]+)
  access_token: match([a-zA-Z\._]+)
  refresh_token: match([a-zA-Z\._]+)
  custom_dns_server: str?
  allow_local_connection: bool?
  local_connection_logs: bool?