
name: Minecraft All-Platform Velocity Proxy
version: 0.0.2
slug: mc-all-platform-velocity
description: Proxy to allow players with any client to join the server.
url: https://github.com/uplandjacob/upland-ha-addons/tree/main/mc-all-platform-velocity
arch:
  - aarch64
  - amd64
init: false
image: ghcr.io/uplandjacob/upland-ha-addons-mc-all-platform-velocity-{arch}
hassio_api: true
startup: application
map:
  - config
options:
  rootConfig:
    motd: "<#09add3>A Velocity Server"
    show-max-players: 500
    online-mode: true
    force-key-authentication: true
    prevent-client-proxy-connections: false
    player-info-forwarding-mode: "NONE"
    forwarding-secret-file: "forwarding.secret"
    announce-forge: false
    kick-existing-players: false
    ping-passthrough: "DISABLED"
    enable-player-address-logging: true
  servers: "# Configure your servers here. Each key represents the server's name, and the value\n# represents the IP address of the server to connect to.\nlobby = '127.0.0.1:30066'\nfactions = '127.0.0.1:30067'\nminigames = '127.0.0.1:30068# In what order we should try servers when a player logs in or is kicked from a server.'\ntry = [\n'lobby'\n]"

schema:
  rootConfig:
    motd: str
    show-max-players: int
    online-mode: bool
    force-key-authentication: bool
    prevent-client-proxy-connections: bool
    player-info-forwarding-mode: match(NONE|LEGACY|BUNGEECORD|MODERN)
    forwarding-secret-file: str
    announce-forge: bool
    kick-existing-players: bool
    ping-passthrough: match(DISABLED|MODS|DESCRIPTION|ALL)
    enable-player-address-logging: bool
  server: str

ports:
  "25565/tcp": 25565
ports_description:
  "25565/tcp": "external server port"