---
name: Minecraft All-Platform Velocity Proxy
version: 0.0.1
slug: mc-all-platform-velocity
description: Proxy to allow players with any client to join the server.
url: https://github.com/uplandjacob/upland-ha-addons/tree/main/mc-all-platform-velocity
arch:
  - aarch64
  - amd64
init: false
image: ghcr.io/uplandjacob/upland-ha-addons-mc-all-platform-velocity-{arch}
hassio_api: true
startup: application
map:
  - config
options:
  rootConfig:
    ping-ratelimit-enable: true
    ping-ratelimit-period: 256
    ping-ratelimit-limit: 128
    ping-ratelimit-lockout-limit: 192
    ping-ratelimit-lockout-duration: 300

schema:
  rootConfig:
    ping-ratelimit-enable: bool
    ping-ratelimit-period: int
    ping-ratelimit-limit: int
    ping-ratelimit-lockout-limit: int
    ping-ratelimit-lockout-duration: int

ports:
  "25565/tcp": 25565
ports_description:
  "25565/tcp": "external server port"