name: Eaglercraft Relay
version: 1.5.0
slug: eag-relay
description: Relay for Eaglercraft
url: https://github.com/uplandjacob/upland-ha-addons/tree/main/eag-relay
arch:
  - aarch64
  - amd64
  - armv6
  - i386
init: false
image: ghcr.io/uplandjacob/upland-ha-addons-eag-relay-{arch}
hassio_api: true
startup: application
map:
  - config
options:
  relayConfig:
    code-length: 5
    code-chars: abcdefghijklmnopqrstuvwxyz0123456789
    code-mix-case: false
    connections-per-ip: 128
    ping-ratelimit-enable: true
    ping-ratelimit-period: 256
    ping-ratelimit-limit: 128
    ping-ratelimit-lockout-limit: 192
    ping-ratelimit-lockout-duration: 300
    worlds-per-ip: 32
    world-ratelimit-enable: true
    world-ratelimit-period: 192
    world-ratelimit-limit: 32
    world-ratelimit-lockout-limit: 48
    world-ratelimit-lockout-duration: 600
    origin-whitelist: ""
    real-ip-header-name: X-Real-IP
    enable-real-ip-header: false
    show-local-worlds: true
    server-comment: Shared World Relay
  relays: 
    - type: TURN
      url: turn:turn.speed.cloudflare.com:50000
      username: user1234
      credential: password
  autoRestart: true
  debugMode: true

schema:
  relayConfig:
    code-length: int
    code-chars: str
    code-mix-case: bool
    connections-per-ip: int
    ping-ratelimit-enable: bool
    ping-ratelimit-period: int
    ping-ratelimit-limit: int
    ping-ratelimit-lockout-limit: int
    ping-ratelimit-lockout-duration: int
    worlds-per-ip: int
    world-ratelimit-enable: bool
    world-ratelimit-period: int
    world-ratelimit-limit: int
    world-ratelimit-lockout-limit: int
    world-ratelimit-lockout-duration: int
    origin-whitelist: str
    real-ip-header-name: str
    enable-real-ip-header: bool
    show-local-worlds: bool
    server-comment: str
  relays:
    - type: match(STUN|TURN)
      url: str
      username: str?
      credential: str?
  autoRestart: bool
  debugMode: bool

ports:
  "6699/tcp": 6699
ports_description:
  "6699/tcp": "port for relay traffic"
