name: Publish Home Assistant Add-ons

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        addon: [twingate] # all add-ons
        architecture: [armv7, aarch64, amd64, i386] # all architectures

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Authenticate GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.HA_GITHUB_TOKEN }}

      - name: Set lowercase repository and owner names
        run: |
          echo "REPO_NAME_LC=$(echo ${GITHUB_REPOSITORY} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Set BUILD_FROM variable
        run: |
          BUILD_FROM=$(yq e ".build_from.${{ matrix.architecture }}" ./${{ matrix.addon }}/build.yaml)
          echo "BUILD_FROM=${BUILD_FROM}" >> $GITHUB_ENV

      - name: Build and push Docker images
        run: |
          docker buildx build --platform linux/${{ matrix.architecture }} \
            --build-arg BUILD_FROM=${{ env.BUILD_FROM }} \
            --push \
            -t ghcr.io/${{ env.REPO_NAME_LC }}-${{ matrix.addon }}:latest \
            ./${{ matrix.addon }}
