name: Update Detector

on:
  schedule:
    - cron: '0 */2 * * *'
  workflow_dispatch:



jobs:
  check_for_updates:
    runs-on: ubuntu-latest
    name: Check for updates
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4.2.2
      - name: SkinsRestorer
        run: |
          resourceID='2124'
          resp=$(curl -X 'GET' "https://api.spiget.org/v2/resources/$resourceID/versions/latest" -H 'accept: application/json')
          echo "$resp"
          latestVers=$(echo "$resp" | jq -r .id)
          echo "$latestVers"
